<!doctype html>

<html>
<head>
	<title>My Meetups</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../public/css/my_meetups.css" rel="stylesheet"/>
</head>

<body>

	<!-- TOP -->
	<div id="Top">

		<!-- Links to Homepage, Title and Corgi Logo -->
		<span>
			<a href="homepage.handlebars" id="TopLeft">
				<span id="Title">StudyBuddy</span>
				<img src="">
			</a>
		</span>

		<!-- Shows signed in user and their profile picture -->
		<span id="TopRight">
			<span id="User">
				Your Meetups!

				<!-- User Profile Picture -->
				<img src="" id="UserPhoto">
				<!-- User Name -->
				<a href="" id="UserName">Corgi</a>
			</span>
			<!-- Shows sign out option -->
			<!-- Bar Separator -->
			<span id="BarSeparator">|</span>
			<!-- Sign Out Button -->
			<a href="login.handlebars" id="SignOut">Sign Out</a>
		</span>
	</div>

	<!-- TOP MENU BAR -->
	<div id="MenuBar">
		<span id="LeftMenuBar">
			Friends
		</span>

		<span id="RightMenuBar">
			<a href="settings.handlebars">Settings</a>
			<a href="contact_us.handlebars">Contact Us</a>
			<a href="help.handlebars">Help</a>
		</span>
	</div>

	<div id="MainBox">


	</div>
</body>
</html>