.btn {
	margin-bottom: 1rem;
}

#mainscreen {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 1rem;
}

#richard, #ingrid, #jovan {
	margin: auto;
	padding: auto;
	width: 25%;
}