/*Applies background image and color of website */
body {
  /* Background Image taken from Cocorini, cocorini.tumblr.com/patterns */
  /* background-image: url("http://31.media.tumblr.com/60258e73e78ddd833e85bd49fac2a5a8/tumblr_mt67noIbPl1ru3nbdo4_r1_100.png");*/
  background-color: #BAC9CF;

  /* Setting margins for all content */
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: auto;

  font-family: 'Coiny', cursive;
  /*font-family: "Lato", sans-serif; */
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Coiny', cursive;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-top: 1%;
	margin-bottom: 1%;
}

.navbar-brand {
    font-size: 3rem;
    margin-top: 0.67rem;
    margin-bottom: 0.67rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.rightMenu {
    font-size: 1.5rem;
    margin-top: 0.67rem;
    margin-bottom: 0.67rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

ul hr {
	margin: 1%;
	padding: 0;
	text-align: center;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .row.content {
  	height:auto;
  }
}

#friendsList {
  background-color: #111;
  border: 1rem solid #111;
  border-radius: 1rem;
  color: #818181;
}

#friendsList:hover {
  color: white;
}

#friend_dropdown{
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
#friend_scroll{
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 12%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav span{
    padding: 8px 8px 8px 32px;
    text-decoration: underline;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav .checkbox {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .checkbox:hover, .offcanvas .checkbox:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
ul.scroll-menu {
    position:relative;
    display:inherit;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -moz-overflow-scrolling:touch;
    -ms-overflow-scrolling:touch;
    -o-overflow-scrolling:touch;
    overflow-scrolling:touch;
    top:0;
    left:0;
    width:100%;
    height:auto;
    max-height:500px;
    margin:0;
    border-left:none;
    border-right:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#location_drop {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.radio{
  text-align: left;
}
.checkbox{
  text-align: left;
}
#map{
  margin: auto;
  padding: auto;
  height: 25rem;
  width: 25rem;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

#friend_title, #loc_dropdown, #loc_text, #date_text, #cancel{
  margin-top: 5rem;
}
#stats{
  margin-top: 5rem;
}
#create{
  margin-top: 2.5rem;
}
