body{
  background-image:url("http://31.media.tumblr.com/60258e73e78ddd833e85bd49fac2a5a8/tumblr_mt67noIbPl1ru3nbdo4_r1_100.png");
  background-color: #FFCA6E;

    margin: auto;
    padding: auto;
}

/* Applies universal font to all text */
* {
  font-family: "Agency FB", "Times New Roman", Serif;
}

/* Applies universal color to all hyperlinks */
a {
  color: #FFFFFF;
}

/* When hovering over hyperlinks, links turn black and are not underlined */
a:hover{
  text-decoration: none;
  color: #000000;
}

#top{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#top_left{
  float: left;
  text-align: center;
}

#title{
  /* Creates filled border */
  background-color: #FFCA6E;
  vertical-align: bottom;

  border-style: solid;
  border-color: #FFCA6E;
  border-radius: 40px 25px;
  border-width: 9px;

  /* Sets title font */
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 60px;
}

#logo{
  margin-bottom: -13px;
  width: 150px;
  height: 120px;
}

#top_right{
  float: right;

  padding-top: 25px;
  padding-right: 20px;

  text-align: center;
}

#user, #bar{
  vertical-align: bottom;

  font-size: 30px;
}

#user_name{
  vertical-align: bottom;

  color: #000000;
}

#user_photo{
  background-color: black;
  border: 0px solid black;
  width: 75px;
  height: 75px;
}

#sign_out{
  vertical-align: -15px;
  color: black;
  font-size: 16px;
}

#user_name:hover, #sign_out:hover {
  color: #FFCA6E;
}

#menu_bar{
  clear: both;

  background-color: #FFCA6E;
  border-style: solid;
  border-color: #000000;
  border-radius: 16px;
  border-width: 5px;

  font-size: 30px;
}

#left_menu_bar{
  padding-left: 200px;
  text-align: center;
}

#right_menu_bar{
  float: right;
  right: 20px;

  padding-right: 20px;
}

#contact{
  margin-left: 20px;
  margin-right: 20px;
}

#friends{
  color: #FFFFFF;
}
