/*Applies background image and color of website */
body {
  /* Background Image taken from Cocorini, cocorini.tumblr.com/patterns */
  /* background-image: url("http://31.media.tumblr.com/60258e73e78ddd833e85bd49fac2a5a8/tumblr_mt67noIbPl1ru3nbdo4_r1_100.png"); */
  background-color: #FFFFFF;

  /* Setting margins for all content */
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: auto;

  font-family: "Lato", sans-serif;
}

/* Top Nav Bar */
.navbar {
	margin: 0% 0% 1% 0%;
}

/* Title */
.navbar-brand {
  font-size: 3rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.orange {
  color: #FFD996;
}

#title:hover {
  color: #FFFFFF;
}

/* Top Right */
.rightMenu {
  font-size: 1.5rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

  color: #FFD996;
}

/* Bar Separation on DropDown */
ul hr {
  margin: 1%;
  padding: 0;
  text-align: center;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .row.content {
  	height:auto;
  }
}

/* Friends List Button */
#friendsList {
  position: fixed;
  background-color: #111;
  border: 0.75rem solid #111;
  border-radius: 1rem;

  color: #FFD996;
  font-size: 1rem;
  font-weight: bold;
}

#friendsList:hover {
  color: white;
}

/* Side Nav Popout */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a, .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFD996;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus, .sidenav p:hover, .offcanvas p:focus{
    color: #FFFFFF;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#addFriend {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;

	vertical-align: 100%;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #FFD996;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #FFD996;
    color: white !important
}

#myMeetups #createMeetup {
	padding: 2rem;
	width: 100%;
	border: none;
	border-radius: 1rem;

	cursor: pointer;

	text-align: center;
	font-size: 2rem;
}

#myMeetups span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#myMeetups span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#myMeetups:hover span {
  padding-right: 25px;
}

#myMeetups:hover span:after {
  opacity: 1;
  right: 0;
}

#createMeetup span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#createMeetup span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

#createMeetup:hover span {
  padding-left: 25px;
}

#createMeetup:hover span:after {
  opacity: 1;
  left: 0;
}

