html { 
  background: url(http://i.imgur.com/QoDwTz3.jpg) center center fixed;
  background-size: 100%;
}

/*Applies background image and color of website */
body {
	/* Background Image taken from Cocorini, cocorini.tumblr.com/patterns */
	/* background-image: url("http://31.media.tumblr.com/60258e73e78ddd833e85bd49fac2a5a8/tumblr_mt67noIbPl1ru3nbdo4_r1_100.png"); */
	background-color: #FFFFFF;

   text-shadow:
       2px 2px 0 #FFB533,
     -1px -1px 0 #FFB533,  
      1px -1px 0 #FFB533,
      -1px 1px 0 #FFB533,
       1px 1px 0 #FFB533;
}

* {
	color: #FFFFFF;
}

#title {
	margin: auto;
	position: absolute;
	height: 70%;
	width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

	text-align: center;
	font-size: 5rem;
}

.container {
	margin: auto;
	position: absolute;
	height: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.leftText, #login {
	font-size: 2rem;
}

#login {
	text-shadow:
		0px 0px 0 #000000,
		0px 0px 0 #000000,  
		0px 0px 0 #000000,
		0px 0px 0 #000000,
		0px 0px 0 #000000;
}