/*Applies background image and color of website */
body {
    /* Background Image taken from Cocorini, cocorini.tumblr.com/patterns */
    background-image: url("http://31.media.tumblr.com/60258e73e78ddd833e85bd49fac2a5a8/tumblr_mt67noIbPl1ru3nbdo4_r1_100.png");
    background-color: #FFCA6E;

    /* Setting margins for all content */
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: auto;
}

/* Applies universal font to all text */
* {
	font-family: Helvetica, Arial, sans-serif;
}

/* Applies universal color to all hyperlinks */
a {
	color: #FFFFFF;
}

/* When hovering over hyperlinks, links turn black and are not underlined */
a:hover{
	text-decoration: none;
	color: #000000;
}

/* */
#Top {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* Aligns Title/Logo to left */
#TopLeft {
	position: absolute;
	width: 675px;
	left: 10px;
	text-align: center;
}

/* Styles the StudyBuddy title */
#Title {
	/* Creates filled border */
	background-color: #FFCA6E;
	border-style: solid;
	border-color: #FFCA6E;
	border-radius: 40px 25px;
	border-width: 9px;

	/* Font Styling */
	vertical-align: bottom;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 60px;
}

/* Adjusts Size*/
#TitleLogo {
	margin-bottom: -13px;
	width: 150px;
	height: 120px;
}


/* Aligns User/SignOut to right */
#TopRight {
	position: absolute;
	width: 500px;
	left: 760px;
	margin-top: 25px;
	text-align: center;
}

/* Sets font size */
#User, #BarSeparator {
	vertical-align: bottom;
	font-size: 30px;
}

/* Sets font color */
#UserName {
	vertical-align: bottom;
	color: #000000;
}

/* Adjusts size */
#UserPhoto {
	border: 0px solid black;
	width: 75px;
	height: 75px;
}

/* Sets font color and size */
#SignOut {
	vertical-align: -18px;
	color: #000000;
	font-size: 18px;
}

/* Sets hover color to orange */
#UserName:hover, #SignOut:hover {
	color: #FFCA6E;
}

/* Sets border */
#MenuBar {
	clear: both;
	position: absolute;
	height: 60px;
	width: 1280px;
	top: 107px;
	left: 5px;

	background-color: #FFCA6E;
	border-style: solid;
	border-color: black;
	border-radius: 16px;
	border-width: 5px;

	font-size: 35px;
	z-index: -1;
}

#LeftMenuBar {
	position: absolute;
	left: 118px;
	color: #FFFFFF;
	text-align: center;
}

#RightMenuBar {
	position: absolute;
	right: 20px;

	padding-right: 20px;
}

#ContactUs {
	margin-left: 20px;
	margin-right: 20px;
}

#FriendsList {
	position: absolute;
	height: 550px;
	width: 346px;
	top: 170px;

	background-color: #FFFFFF;
	border: 5px solid #000000;
	border-radius: 16px;
}

#FriendsMessage {
	position: absolute;
	height: 200px;
	width: 330px;
	top: 10px;
	text-align: center;

	font-size: 30px;
}

#FriendsMessage p {
	font-size: 20px;
}

#AddFriendButton {
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 0px;
	background-color: #A0D8EB;

	border-top: 5px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px; 
	border-style: solid;
	border-color: black;
	border-radius: 0px 0px 10px 10px;

	text-align: center;
	font-size: 50px;
}

#MainBox {
	position: absolute;
	height: 550px;
	width: 924px;
	top: 170px;
	left: 360px;
	right: 10px;

	background-color: #FFFFFF;
	border: 5px solid #000000;
	border-radius: 16px;
	text-align: right;
}

#BigPaw {
	position: absolute;
	vertical-align: middle;
	height: 90%;
	width: 55%;
	top: 6%;
	bottom: 6%;
	left: 2%;
}

#PawMessage {
	position: absolute;
	height: auto;
	width: 25%;
	top: 58%;
	left: 16%;
	text-align: center;
	font-size: 40px;
}

.Bones {
	color: black;
	font-size: 30px;
	text-align: center;
}

.Bones:hover {
	color: #FFCA6E;
}

#MyMeetups, #CreateMeetup {
	position: absolute;
	height: 26%;
	width: 35%;
	right: 8%;
}

#MyMeetups {
	top: 15%;
}

#CreateMeetup {
	bottom: 15%;
}

#MyMeetupsMessage, #CreateMeetupMessage {
	position: absolute;
	height: 50%;
	width: 50%;
}

#MyMeetupsMessage {
	top: 24%;
	right: 1%;
}

#CreateMeetupMessage {
	top: 68%;
	right: 1%;
}