/*Applies background image and color of website */
body {
    /* Background Image taken from Cocorini, cocorini.tumblr.com/patterns */
    background-image: url("http://31.media.tumblr.com/60258e73e78ddd833e85bd49fac2a5a8/tumblr_mt67noIbPl1ru3nbdo4_r1_100.png");
    background-color: #FFCA6E;

    /* Setting margins for all content */
    vertical-align: middle;
    
}